.image {
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 500px;
  position: relative;
  background-color: #fffffe;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

@media screen and (max-width: 1102px) {
  .image {
    width: 100%;
  }
}
