.image__caption {
  max-width: 70%;
  max-height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
  color: #f9bc60;
  background-color: rgba(0,70,67,.6);
}

@media screen and (max-width: 1102px) {
  .image__caption {
    font-size: 16px;
  }
}
