.image__caption {
  padding: 1px 4px;
  max-width: 70%;
  max-height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 18px;
  color: #fffffe;
  background-color: rgba(0, 0, 0, .4);
}

@media screen and (max-width: 1102px) {
  .image__caption {
    font-size: 14px;
  }
}
