.button {
  display: inline-block;
  position: relative;
  width: 220px;
  overflow: hidden;
  height: 65px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #3da9fc;
  margin: 0;
  padding: 0;
  color: #fffffe;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  transition: all .2s ease;
}

.button:active {
  background-color: #90b4ce;
}

.button:hover {
  text-indent: 35px;
}

.button:hover:before {
  transform: scale(1,1);
  text-indent: 0;
}
