.form__color-check {
  height: 30px;
  width: 30px;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid rgba(144, 180, 206, .4);
  position: relative;
}

.form__color-check:checked {
  border: 4px solid #f9bc60;
  height: 34px;
  width: 34px;
}

#black {
  background-color: #000;
}

#white {
  background-color: #fff;
}

#purple {
  background-color: #b950b4;
}

#green {
  background-color: #258c23;
}
