.button_type_randomizer:before {
  content: '\27F3';
  color: #f9bc60;
  font-size: 32px;
  font-weight: 700;
  padding-left: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  background-color: transparent;
  transform: scale(0,1);
  transform-origin: left center;
  transition: all .3s ease-in-out 0s;
}
