.button_type_downloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 20px 0 0 0;
  padding: 0;
  height: 60px;
}

.button_type_downloader:before {
  content: '\1F817';
  color: #004643;
  font-size: 35px;
  font-weight: 700;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 47px;
  background-color: transparent;
  transform: scale(0,1);
  transform-origin: left center;
  transition: all .3s ease-in-out 0s;
}
